body {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: sans-serif;
}
ul {
	list-style: none;
}
.container {
	max-width: 1200px;
	padding: 0px 20px;
	margin: 0 auto;
}
.blog {
	padding: 80px 0px;
}
.blog__title {
	margin: 0px;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
}
.blog-list {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog-list-item {
	width: 300px;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.blog-list-item__img {
	max-width: 100%;
}
.blog-list-item-content {
	padding: 20px;
}
.blog-list-item-content__title {
	margin: 0px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
}

.blog-list-item-content__text {
	margin: 0;
	line-height: 1.7;
	font-weight: 100;
	text-align: center;
	padding-top: 15px;
}

.blog-list-item-user {
	padding: 20px;
	border: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
}

.blog-list-item-user__img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.blog-list-item-user__name {
	font-size: 16px;
	font-weight: 100;
	margin-left: 15px;
}
